@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background.png);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}

.container {
  width: 80%;
}

.logo {
  width: 7.5em;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}

.content h1 {
  font-size: 4rem;
  font-weight: 600;
}

.content h1 span {
  color: #ff3753;
}
.content button {
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  padding: 12px 25px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.content button img {
  width: 0.9375em;
  margin-left: 10px;
}

.launch__time {
  display: flex;
}

.launch__time div {
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launch__time div p {
  font-size: 3.75rem;
  margin-bottom: -14px;
}

.rocket {
  width: 15.625em;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}

@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .content h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
  }

  .launch__time {
    width: 80%;
  }

  .launch__time div {
    margin: 1em 1em 1em 0;
  }

  .launch__time div p {
    font-size: 2rem;
    margin-bottom: 1px;
  }

  .launch__time div span{
  }
}
